/*
Theme Name: Ein-Theme
Theme URI: https://ehsanghaffarii.ir
Description: The first WordPress theme designed and coded by the Ein-Graphic group.
It uses Bootstrap 4.4 and jQuery 3.4.1
version: V1.0
Author: EhsanGhaffarii
Author URI: https://Ehsanghaffarii.ir
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
	0. 	CSS Reset
    1.  
    2.


----------------------------------------------------------------------------- */


@import url('assets/css/bootstrap.css');

.clearfix {
    clear: both;
}

body {
    background-color: #eeeeef;
    padding: 0;
    margin: 0;
    font: normal 12 tahoma;
}

a:hover {
    text-decoration: none;
}


/* header styles */
header {
    background: #999;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
}

.logo {
    background: url('assets/img/favicon.png') no-repeat;
    float: right;
    width: 100px;
    height: 100%;
}

/* search form */

.search {
    width: 310px;
    float: left;
    margin: 105px 0 0 0;
}

.search input[type="text"] {
    border: 1px solid #ccc;
    width: 250px;
    padding: 3px 5px;
}

.search input[type="submit"] {
    /* background: #7ba60d url(images/search_icon.png) no-repeat 50%; */
    text-indent: -3000em;
    border: 1px solid #008800;
    border-radius: 3px 0 0 3px;
    margin: 3px -5px 0 0;
    width: 26px;
    padding: 2px 5px;

}

/* navbar */

.navbar {
    background: #00171F;
}

.navbar-brand {
    color: skyblue;
}

li.page_item a {
    color: powderblue;
    padding-inline-start: 10px;
}



/* Content Styles */

article {
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
}

.posts {
    font: normal 11px tahoma;
    color: #555;
    line-height: 21px;
}

.posts h2 a {
    font: bold 16px tahoma;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px
}

/* footer styles */

footer {
    background: #dddddd;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

.copyright-link {
    color: #eeeeee;
}